@font-face {
    font-family: 'larsseit';
    src: url(fonts/Larsseit-Bold.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'circular pro';
    src: url(fonts/AvenirLTStd-Medium.otf);
    font-style: normal;
    font-kerning: auto;
    font-weight: bolder;
}

.mainfont {
    font-family: larsseit;
}

.subfont {
    font-family: circular pro;
}

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    margin: 1rem auto auto auto;
    
}




.navbar {
    box-shadow: 0 0 2rem rgba(33, 122, 223, 0.479);
    background-color: rgb(221, 248, 243) !important;
    transition: top .5s;
}

.navbar-brand {
    font-family: larsseit;
    font-size: xx-large;
}



.navbar-nav {
    font-family: circular pro;
    font-size: inherit;
    font-weight: bolder !important;
}

.gradiant {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


}

.unselectable {
    user-select: none;
}

.headerclass {



    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    height: 100vh !important;
    width: 100%;

}

.wavesvg {
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

}

.custom-img {
    max-width: 70%;
    
}



.navbar-nav li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.timeline{
   text-align: center;
   margin-top: 5rem;

}



.timelinegraph ul li .time h4 {
    font-size: 0.8rem;
}
.timelinegraph ul li .content h4 {
    font-size: 1rem;
}

.timelinegraph {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.timelinegraph:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #c5c5c5;
}

.timelinegraph ul {
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;
}

.timelinegraph ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 20px;
    
    box-sizing: border-box;
}

.timelinegraph ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timelinegraph ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.timelinegraph ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    top: 24px;
    right: -6px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(223, 12, 188, 0.2);
    background: #009fda
}

.timelinegraph ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    top: 24px;
    left: -5px;
    ;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(223, 12, 188, 0.2);
    background: #009fda
}

.timelinegraph ul li:nth-child(odd) .time h4 {
    position: absolute;
    top: 17px;
    right: -60px;


}

.timelinegraph ul li:nth-child(even) .time h4 {
    position: absolute;
    top: 17px;
    left: -60px;

}

.hours-calc{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hours-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
}
.card{
    width: 160px !important;
    height: 180px;
overflow: hidden;
    margin:2rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.030) 0px 0px 20px 5px ;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-rect{
    width: 300px !important;
    height: 90px;
    margin: 1rem;
overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.030) 0px 0px 20px 5px ;
    border: none;
    display: flex;
    
    justify-content: start;
    align-items: center;
}

.card-rect i{
    border-radius: 0.2rem; color: black; background-color: rgba(100, 133, 241, 0.199);
    transition: 0.3s;
}


.card-rect:hover i {
background: rgb(100, 133, 241);
color: white;
transition: 0.3s;
}

/*
.nav-linkcustom:before{
    content: "" !important;
    background-color: rgb(221, 219, 88) !important;
    position: absolute !important;
    height: 2px !important;
    width: 0% !important;
    left: 0 !important;
    top: 100% !important;
    transition: all linear .3s;
}

.nav-linkcustom:hover:before{
    background-color: #009fda;
    width: 100%;
}*/

@media (max-width: 1000px) {
    html {
        font-size: 85%;
    }

    
}

@media (max-width:450px) {

    .wavesvg {
        background-image: url(images/wave.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 22vh;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;

    }

    .navbar-brand {
        font-family: larsseit;
        font-size: larger;
    }

    .lottie-player lottie-player {
        width: 18rem !important;
        height: 18rem !important;
    }

    .reduce-h2 {
        font-size: 2.4rem !important;
    }

    .reduce-h4 {
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {}